<style>

#parent{
    padding: 0px, auto;
    width: 50%;
    margin: auto;
}

</style>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Coolpay</title>
  </head>
  <body>
    Hello world
  </body>
</html>
