<form action='/new-payment' method='post'>
  <p><input type="text" name="name"></p>
  <input type="number" name="amount" min="0">
  <p>
  <select>
    <option value="volvo">GBP</option>
    <option value="saab">USD</option>
    <option value="saab">CHF</option>
    <option value="saab">JPY</option>
  </select>
  </p>
  <input type="submit" value="Pay">
</form>
