
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fakebook</title>
  </head>
  <body>
    <h2>Payments</h2>
      <% @payments.each do |payment| %>
        <div>Amount:<%=payment[:amount]%> <%=payment[:currency]%>---Status: <%=payment[:status]%> To: <%=payment[:name]%></div>
    <%end%>

    <form method="get" action="/new-payment">
        <button type="submit">New Payment</button>
    </form>
    <form method="get" action="/recipients">
        <button type="submit">Recipients</button>
    </form>
  </body>
</html>
